<a href="https://colab.research.google.com/github/Fatemeh-Vahidnezhad/leetcode-exercise/blob/main/leetcode3_dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Valid Anagram

In [ ]:
import collections

In [ ]:
s ='brainy'
b = 'rainssby'
collections.Counter(b)
def validAnagram(b,s):
  return collections.Counter(b) == collections.Counter(s)

validAnagram(b,s)

False

Excel sheet column number

ABC --> \
C = 3 * 26^0 \
(B =2 * 26) \
(A =1 * 26^2)

In [ ]:
s = 'za'
def Excel_column_Num(s):
  s = s.upper()
  value = 0
  dic = {chr(i+65): i+1 for i in range(26)}
  for i in range(len(s)):
    value += dic[s[i]] * 26**(len(s)-i-1)
  return value
Excel_column_Num(s)

677

Two Sum

In [ ]:
x = [3,2,4,5,1,7,3,7,7,7]
target = 6
dic = {}
lst = []
count = 1
#count the number of memebers i a list
dic1 = {i:x.count(i) for i in x}

if target%2 == 0 and target/2 in x and dic1[int(target/2)]==2:     # remove 3 , 3
  pass
else:
  dic.pop(int(target/2))
for i in x:
  diff = target - i
  if diff in dic and i in dic:
    print(i, diff)
dic
dic1

{3: 2, 2: 1, 4: 1, 5: 1, 1: 1, 7: 4}

شماره تعداد ایتم های یک لیست با دیکشنری

In [ ]:
x = [3,2,4,5,1,7,3,3]
{i:x.count(i) for i in x}

{3: 3, 2: 1, 4: 1, 5: 1, 1: 1, 7: 1}

fizz buzz

In [ ]:
dic = {3:'fizz', 5:'fuzz', 15:'fizz fuzz'}
n = 30
for i in range(1,n+1):
  if i % 15 ==0:
    print(dic[15], end = ', ')
  elif i % 3 == 0 :
    print(dic[3], end = ', ')
  elif i % 5 ==0:
    print(dic[5], end = ', ')
  else:
    print(i, end = ', ')

1, 2, fizz, 4, fuzz, fizz, 7, 8, fizz, fuzz, 11, fizz, 13, 14, fizz fuzz, 16, 17, fizz, 19, fuzz, fizz, 22, 23, fizz, fuzz, 26, fizz, 28, 29, fizz fuzz,

# Single Number

In [ ]:
x = [4,1,2,1,2,2,5]
dic = {i:x.count(i) for i in x}
print(dic)
for key, value in dic.items():
  if value == 1:
    print(key)

{4: 1, 1: 2, 2: 3, 5: 1}
4
5

طول یک لیست

In [ ]:
x = [4,1,2,1,2,2,5]
lst = []
count = 0
for i in x:
  lst.append(i)
  count +=1
count

7

In [ ]:
x = [4,1,2,1,2,2,5]
lst = []
count = 1
for i in x:
  # lst.append(i)
  dic[i] += count
  print('i, count',i, count)
# for i, j in dic.items():
#   print(i,j)
dic

i, count 4 1
i, count 1 1
i, count 2 1
i, count 1 1
i, count 2 1
i, count 2 1
i, count 5 1

{4: 6, 1: 11, 2: 16, 5: 6}

Valid Parentheses

In [ ]:
def ValidParentheses(s):
  stack = []
  dic = {
      '}':'{',
      ')':'(',
      ']':'['
  }
  if len(s)%2 != 0:
    return False

  for i in s:
    if i in dic:
      if stack:

        x = stack.pop()
        print(x)
        if dic[i] != x:
          print('dic',dic[i],x)
          return False
      else:
        return False

    else:
      stack.append(i)
s = '{(([)])}'
ValidParentheses(s)

[
dic ( [

False

First unique charactor

In [21]:
s = 'amirali'
def first_unique_ch(S):
  dic = {i:s.count(i) for i in s}
  print(dic)
  for key, value in dic.items():
    if dic[key]==1:
      return key

first_unique_ch(s)

{'a': 2, 'm': 1, 'i': 2, 'r': 1, 'l': 1}

'm'

last_unique_character???

In [ ]:
s = 'amirali'
def last_unique_ch(s):
  dic = {i:s.count(i) for i in s}
  print(dic)
  # for key in dic.keys():
  #   x = dic.pop(key)
  #   print('x',x)
    # if dic[key]==1:
    #   return key



last_unique_ch(s)

Rooman numbers:\
IV:4\
VI:6\
IVI:5\
VIV:9\
XL:40\
LX:60\
XLLX:100\
VIVXL:49\
MMC:2100\
MCM:1900\
CM:900\
MMCX: 2110\
MMCD:2400\

In [73]:
d = {
    "I":1,
    "V": 5,
    "X": 10,
    "L": 50,
    "C": 100,
    "D": 500,
    "M": 1000
}
lst = []
def Roman(s):
  t = 0
  i = 0
  while i < len(s):
    if i +1 < len(s) and  d[s[i]]< d[s[i+1]]:
      t += d[s[i+1]] - d[s[i]]
      i += 2
    else:
      t += d[s[i]]
      i += 1
  return t

s = 'IVI'
Roman(s)

5

Confusion Number\
turn numbers 180 degree, and replace them from last to first

In [95]:
lst1 = []
d = {
    '1':'1',
    '6':'9',
    '8':'8',
    '9':'6',
    '0':'0',
}
def Confusion_Num(n):
  s = str(n)
  for i in s[::-1]:
  #   lst.append(i)
  # a = ''.join(lst)
  # for i in a:
    if i not in d:
      return False
    else:
      lst1.append(d[i])
  return ''.join(lst1)
n = 10981
Confusion_Num(n)

'18601'

Anagram mapping\
finding a location of items in a list on the second list

In [100]:
a = [20,10,0,9,15]
b = [15,9,10,20,0]
lst = []
d = {i:b.index(i) for i in b}
print(d)
for i in a:
  print(i, d[i])
  lst.append(d[i])
lst

{15: 0, 9: 1, 10: 2, 20: 3, 0: 4}
20 3
10 2
0 4
9 1
15 0

[3, 2, 4, 1, 0]

second solution

In [105]:
d = {}
for i, x in enumerate(b):
  d[x] = i
[d[i] for i in a]

[3, 2, 4, 1, 0]