<a href="https://colab.research.google.com/github/Fatemeh-Vahidnezhad/leetcode-exercise/blob/main/leetcode2_lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

remove digit and return bigger number

In [ ]:
def remove_digit (n, digit):
  lst = []
  lst1=[]
  for i in range(0, len(n)):
    while n[i] == digit:
      lst.append(n[:i] + n[i+1:])
      i+=1
  # covert string to int:
  for i in lst:
    lst1.append(int(i))
  return max(lst1)

In [ ]:
n = '1234267'
digit = '2'
remove_digit(n, digit)

['134267', '123467']

134267

Is palindrom?

In [ ]:
def palindrom(s):
  a = list(s)
  n = len(a)
  for i in range(0, n):
    if a[i] == a[n-i-1]:
      return True
    else:
      return False

print(palindrom('radar'))

True

second solution

In [ ]:
def palindrom(s):
  a = list(s)
  if a == a[::-1]:
    return True
  else:
    return False
palindrom('amir')

False

lower case with lambda and map

In [ ]:
s = ['a', 'B']
lowercase = lambda ch : ch.lower()
m = map(lowercase, s)
list(m)

['a', 'b']

In [ ]:
def palindrom(s):
  a = list(s)
  lowercase = lambda ch : ch.lower()
  m = map(lowercase, a)
  m = list(m)
  if m == m[::-1]:
    return True
  else:
    return False
palindrom('Radar')

True

just survay numberic and alpha characters in the list:

In [ ]:
s = 'Ra# dar@'
lam = lambda ch : ch.isalnum()
f = filter(lam, s)
lam2 = lambda ch : ch.lower()
m = map(lam2, f)
list(m)

['r', 'a', 'd', 'a', 'r']

reverse string

In [ ]:
s = 'adidas'
n = len(s)
lst = []
for i in range(n):
  lst.append(s[n-i-1])
''.join(lst)

'sadida'

second solution : recursive functions:

In [ ]:
def recursive_S(s):
  def h(low, high):
    if low < high:
      s[low], s[high] = s[high], s[low]
      h(low +1 , high - 1)
  return h(0, len(s)-1)
a = 'dadasc'
s = list(a)
recursive_S(s)
print(s)

['c', 's', 'a', 'd', 'a', 'd']

Two Sum

In [ ]:
def TwoSum(s, sum):
  for i in range(len(s)):
    for j in range(i):
      if s[i]+s[j] == sum:
        print(s[i], s[j])

s = [0,1,4,6,7,4,2,5]
TwoSum(s,7)

6 1
7 0
5 2

second solution

In [ ]:
def TwoSum1(s, sum):
  for i in range(len(s)):
    for j in range(i+1, len(s)):
      if s[i]+s[j] == sum:
        print(s[i], s[j])

s = [0,1,4,6,7,4,2,5]
TwoSum1(s,7)

0 7
1 6
2 5

fizz buzz

In [ ]:
def fizzbuzz(n):
  for i in range(1, n+1):
    if i % 3 == 0 and i % 5 == 0 :
      print('fizz buzz', end = ', ')
    elif i % 3 == 0 :
      print('fizz', end = ', ')
    elif i % 5 == 0:
      print ('buzz', end = ', ')
    else :
      print(i, end = ', ')

fizzbuzz(15)

1, 2, fizz, 4, buzz, fizz, 7, 8, fizz, buzz, 11, fizz, 13, 14, fizz buzz,

second solution

In [ ]:
def fizzbuzz(n):
  lst = []
  for i in range(1, n+1):
    if i % 3 == 0 and i %5 == 0 :
      lst.append('fizz buzz')
    elif i % 3 == 0 :
      lst.append('fizz')
    elif i % 5 == 0:
      lst.append('buzz')
    else :
      lst.append(i)
  return lst


fizzbuzz(15)

[1,
 2,
 'fizz',
 4,
 'buzz',
 'fizz',
 7,
 8,
 'fizz',
 'buzz',
 11,
 'fizz',
 13,
 14,
 'fizz buzz']

Pascal's Triangle\
1\
1 1\
1 2 1\
1 3 3 1\
1 4 6 4 1\
15 10 10 5 1\
\

In [ ]:
def PascalTriangle(n):   # n is the number of rows
  lst = []
  for r in range(1, n):
    row = [None for i in range(1, n+1)]
    row[0] = row[-1] =1
    for j in range(1, n-1):
      row[j]= lst[r-1][j-1] + lst[r-1][j]
  lst.append(row)
  print(lst)
PascalTriangle(3)

[[1, None, 1]]

Single Number

این روش استاده که غلطه

In [ ]:
x = [12,13,12,13,10,9 ,13]
lst1 = []
for i in x:
  if i not in lst1:
    lst1.append(i)
  else:
    lst1.remove(i)

lst1

[10, 9, 13]

روش درست اینه:

In [ ]:
x = [12,13,12,13,10,9,13]
lst = []
for i in x:
  y = x.pop()
  if y not in x:
    lst.append(y)

lst

[9, 10]

remove duplicates of a list

In [ ]:
lst = [12,13,12,13,13,10,9,12]
lst1 = []
for i in range(len(lst)):
  if lst[i] not in lst1:
    lst1.append(lst[i])

lst1

[12, 13, 10, 9]

SumZero\
n = 1 -> [0]\
n = 2 -> [-1,1]\
n = 3 -> [-1,1,0]\
n = 4 -> [-2,-1,1,2]\
n = 5 -> [-2,-1,1,2,0]\
n = 6 -> [-3,-2,-1,1,2,3]\
n = 7 -> [-3,-2,-1,1,2,3,0]\

In [ ]:
def SumZero(n):
  lst = []
  if n % 2 == 0:
    a = n/2
    for i in range(int(a)):
      lst.append(i+1)
      lst.append(-1*(i+1))
    return lst
  else:
    a = n/2
    for i in range(int(a)):
      lst.append(i+1)
      lst.append(-1*(i+1))
    lst.append(0)
    return lst


SumZero(7)

[1, -1, 2, -2, 3, -3, 0]

sign of product of an array:\
x = [0,1,4,5]--> 0\
x = [1,-1,-2,4] -- > +1\
x = [-1,6,4,5,3] --> 1\

In [ ]:
def arraySign(x):
  a = 1
  if 0 in x:
    return 0
  for i in x:
    a *= i
    # print(a)
  if a<0:
    return -1
  return 1
x = [10,-1,-3,-5]
arraySign(x)

-1

second solution

In [ ]:
x = [-10,-1,-3,-5]
def arraySign2(x):
  for i in x:
    if i == 0:
      return 0
  if sum(i<0 for i in x)%2:
    return -1
  return 1
arraySign2(x)

1

Missing Number\
x = [2,0,1,4] --> 3

In [ ]:
x = [2,0,1, 9, 4]
lst = []
def MissingNumber(x):
  x.sort()
  print(x)
  for i in range(len(x)):
    if x[i] - x[i-1] > 1:
      for j in range(x[i-1]+1, x[i]):
        x.append(j)
  return x
y = MissingNumber(x)
print(y)

[0, 1, 2, 4, 9]
[0, 1, 2, 4, 9, 3, 5, 6, 7, 8]

merge two lists

In [ ]:
x = [1,2,3,4,5]
y = [0,6,7,8,9,10]
n = len(y)
m = len(x)
for i in y:
  x.append(i)
print(x)

[1, 2, 3, 4, 5, 0, 6, 7, 8, 9, 10]

Sublist with sum of digit

In [ ]:
x = [3,1,2,7,4,2,2,1,5]
digit = 9
def find_sublist(x, digit):
  lst = []
  for i in x:
    lst.append(i)
    while sum(j for j in lst) > digit:
      lst.remove(lst[0])
    if sum(j for j in lst) == digit:
      print(lst)

In [ ]:
find_sublist(x,digit)

[2, 7]
[4, 2, 2, 1]

buy stock on minimum  and buy it on max day, each number shows the price of stock on every day

In [ ]:
x = [7,1,3,0,5,6,9,12,3]
def MaxProfit(x):
  max_profit = 0
  min = float('inf')
  for i in x:
    if i <= min:
      min = i    # time of buying stock
  for j in range(x.index(min)+1, len(x)):
    profit = x[j]-min
    if profit > max_profit:
      max_profit = profit
      max_rev = x[j]
      date = x.index(max_rev)
  return min, max_profit, max_rev, date+1
MaxProfit(x)

(0, 12, 12, 8)

In [ ]:
lst = [3,2, 3]
lst1 = []
target = 6
for i , x in enumerate(lst):
  if target/2 == x:
    lst1.append(i)
lst1

[0, 2]

In [ ]:

def twoSum(nums, target):
  lst = []
  d = {i:nums.count(i) for i in nums}
  for i, v in d.items():
    if d[i] == 2 and target/2 == i:
      dic = dict(enumerate(nums))
      for k in dic:
        return k


  for i, x in enumerate(nums):
    if x < target and target-x in nums[i+1]:
      b = target-x
      return i, nums.index(b)
    if target /2 == x :
      lst.append(i)
  return lst
nums = [3,3]
twoSum(nums, target)

[0, 1]

Two Sum, accepted on leedcode site

In [ ]:
nums = [-2,-3,-5,-8,0,-1]
target = -8
lst1 = []
lst2 = []
def test(nums, target):
  d = dict(enumerate(nums))
  for k in d:
    if d[k] == target/2 and len(set(nums))< len(nums):
      lst2.append(k)

    elif d[k] == target/2 and len(set(nums))== len(nums):
      d[k] = 0

    elif target - d[k] in nums:
      lst1.append(d[k])
      lst1.append(target-d[k])

  for i in set(lst1):
    lst2.append(nums.index(i))

  return lst2
test(nums, target)

[3, 4, 2, 1]

In [ ]:
nums = [0,3,1,13]
s = set(nums)
if len(set(nums))< len(nums):
  print('d')
d = dict(enumerate(nums))
for k in d:
  print(d[k])

0
3
1
13

In [ ]:
x = 123
s = str(x)
lst = list(s)
lst1 = []
while lst:
  i = lst.pop()
  lst1.append(i)
a = ''.join(lst1)
print(a)

Reverse Integer

In [ ]:

def reverse(x):
  s = str(x)
  lst = list(s)
  lst1 = []
  while lst:
      i = lst.pop()
      if i.isnumeric():
        lst1.append(i)
  a = ''.join(lst1)
  if x<0 and int(a)* -1 <0 and int(a)* -1 >= -2**31:
    return int(a)*-1
  elif x>0 and int(a)>0 and int(a) < 2**31 -1:
    return int(a)
  else:
    return 0
reverse(-1534236469)

0